
:root {
    --base-color: #5497df;
    --text-color: #fff;
    --shadeing: #477bb3;
    --lighter: #176cc1;
    --bg-color-hover: #42abe393;
    --shadow-color: #6a515133;
   
   
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffffec;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

header {
    background-color: var(--base-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

nav a {
    text-decoration: none;
    color: var(--shadeing);
    padding: 10px 20px;
    box-shadow: 0 2px 5px var(--shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

nav a:hover {
    transform: scale(1.1);
    border: 1px solid var(--bg-color-hover);
    box-shadow: 1px 5px 15px var(--shadow-color);
   
    
}

section {
    /* background-color: #eee; */
    padding: 20px;
    margin: 20px 0;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;
}

section:hover {
    background-color: var(--bg-color-hover);
    color: var(--text-color);
    padding: 30px;
}


section h2:hover {
    color: var(--text-color);
}

section p {
    color: var(--base-color);
}

footer {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid var(--shadeing);
    margin-top: 30px;

}
 @media screen and (max-width: 600px)
{
    section:hover {
        background-color: var(--bg-color-hover);
        color: var(--text-color);
        
    }
 }