.wrapper{
    display: flex;
    flex-direction: column;
}

:root{
    --location_color: #c139ba;
}

ul {
    list-style-type: none;
}
li{
    display: flex;
    flex-direction: row;
    color: var(--location_color);

}
header{
    color: var(--location_color);
    text-align: center;
    }

button
{
    transform: scale(1);
    box-shadow: none;
    transition: 1s ease, transform 1s, box-shaddow
   
    margin: 1rem;
    padding: 0.5rem;
    text-decoration-color: aqua;

}